test/wolfgang/*.*
src/afp_emitter.cnf
build/*.c
build/*.h
build/*.vala
build/*.vapi
build/*.sh
bin/core_cset*
bin/core_logreader*
bin/emitter*
bin/for_viewer
bin
build/core_cset*
build/gen_encvec*
build/doctype_server*
build/doctype_debugger*
build/doctype_logreader*
build/core_logreader*
build/intermediate_dumper*
build/emitter*
build/for_viewer
build/for2xml
build/messages.mdb
log/messages.mdb
build/out.log
build/*.cnf
build/doctype
log/out.log
include/*
*.swp*
*.so
.goutput*
src/out.for
*~
out.for
out.ps*
out.pdf
out.log
build/Makefile
test_installation/test.ps
packages
doc/valadoc
*.orig
build/*.dll
build/*.bat
build/*.pl
*.tmp
test/zuko/testdir
test/css/testdir
build/pdf417lib
src/pdf417lib/test*
out2.log
*.exe
*.dll
zuko_migration/testdir
src/out.xml
output_.ps*
XMLcompare
output_.pdf
build
massif.out*
evn/testdir
css/testdir
doctype_manual.pdf
*.dtcache
*stderr.log
*stdout.log
compuset.ps
test.pdf
compuset.pdf
test.ps
*.mta
test.xml
sample_performance.ps
emitter.cnf
emitter_params.cnf
params.cnf
for2xml.cnf
xmlcompare.cnf
doctype.html
doctype_developer.html
afp.for
out.afp
OUTPUT*.pdf
output.for
doctype_developer.html
*.b64
*.MTA
*.mta
*.log
*.err
out_cif.xml
evn_bulgarien/testdir
*.bat
*.bak
doc/docTYPE.aux
doc/docTYPE.cp
doc/docTYPE.cps
doc/docTYPE.fn
doc/docTYPE.ky
doc/docTYPE.pdf
doc/docTYPE.pg
doc/docTYPE.toc
doc/docTYPE.tp
doc/docTYPE.vr
doc/docTYPE.vrs
doc/docTYPE
test/gerhard.dt
output_data.sh
OUTPUT_DATA.sh
sched0.sh
release.properties
compuset.pdf
test.pdf
performance.xml
*output*.ps
*.sav
pdfemitter.cnf
testdir
performance.in
doctype.cnf
*anjuta*
